label,
.label {
    @include font-sans-medium;

    margin-bottom: .25em;
    margin-left: 2px; // visual correction
}

.label--checkbox {
    @extend .label;

    display: block;
    margin-bottom: 1em;
}
